# MariaDB Root
MYSQL_ROOT_PASSWORD=root_password

# Nextcloud Database
NEXTCLOUD_DB_NAME=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=nextcloud_db_password

# App Database
MYSQL_USER=my_app_user
MYSQL_PASSWORD=my_app_password
MYSQL_DATABASE=my_app_db
MYSQL_HOST=db
MYSQL_PORT=3306

# Nextcloud API
NEXTCLOUD_URL=http://nextcloud
NEXTCLOUD_USER=admin
NEXTCLOUD_PASSWORD=admin
